.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Logs
*.log

# Checkpoints and training logs
checkpoints/
wandb/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
